.container {
  background-color: rgb(13, 49, 71);
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
}
body {
  background-color: lightseagreen;
  color: white;
  padding-bottom: 40px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  margin-bottom: 10px;
}
h1 {
  text-shadow: 4px 4px black;
  color: white;
}

p {
  text-align: center;
}

.plannerDiv {
  border-radius: 25px;
}

.textarea-present {
  background-color: rgb(236, 84, 84);
  color: white;
}
.textarea-future {
  background-color: rgb(117, 204, 117);
  color: white;
}

.textarea-past {
  background-color: gray;
  pointer-events: none;
  color: white;
}
.btn {
  color: white;
  background-color: grey;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  margin-left: 6px;
}
.button-past {
  background-color: rgb(90, 195, 230);
  pointer-events: none;
}

.button-present,
.button-future {
  background-color: blue;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .jumbotron {
    height: 300px;
  }
  p {
    font-size: smaller;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron {
    height: 300px;
  }
}
